
body{
	background-color: #505050 ;
	display: flex;
	justify-content: space-around;
	flex-direction: column
}
.actions{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #909090;
    border-radius: 11px;
    box-shadow: 14px 9px 9px black;
    width: 8%;
    height: 39%;
}
.actions img{
	height: 34%;
    margin: 12px auto 12px;
    width: 41%;
}
.menu img{
	height: 34%;
    margin: 12px auto 12px;
    width: 41%;
}
.Sicon{
	width:10px;
	height: 10px;
}
.banner{
	background-color: #909090;
	display: flex;
	border-radius: 13px;
	margin: 12px auto 12px; 
	box-shadow: 20px 20px 20px black;
	height: 9vw;
}
.container{
	display: flex;
	justify-content: space-around;
}
.menu{
		display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #909090;
    border-radius: 11px;
    box-shadow: 14px 9px 9px black;
    width: 8%;
    height: 39%;
}
.clusterImage{
	background-color: #909090;
	display: flex;
	justify-content: center;
	border-radius: 20px;
    box-shadow: 14px 9px 9px black;
}
.clusterImage img{
	width: 95%;
	height: 95%;
	padding-top: 10px;
}
.Sicons{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 0.5vw;
}
.Sicon{
	width:1vw;
	height: 1vw;
	justify-content: end;
}
#brick{
	background-repeat: repeat;
	background-image: url("./resources/brick.jpg");
	width: 50px;
}
.resour{
	padding-left: 30px;
	width: auto;
	height: 6.6vw;
	padding-top:10px;
	margin-right: 40vw;
}
.topImg{
	display: flex;
	flex:2;
}
.loupe{
	width: 16vw;
    position: relative;
    height: 10vw;
    top: 1vw;	
}
.brick{
	display: flex;
	background-repeat: repeat;
	background: url("resources/brick.jpg");
	height: 4.5vw;
	margin-bottom: 2vw;
	margin: 1vw 1vw 1vw 1vw ;	
}
.space{
	height: 5vw;
}
.dbox{
	position: absolute;
    width: 30vw;
    border-radius: 9px;
    height: 10vw;
    background-color: lightgreen;
	z-index: 2;
	top: 35vw;
    left: 10vw;
	box-shadow: 14px 9px 9px black;
	padding-left: 1vw;
}
button{
	border-radius: 0px;
}
.white{
	width:8vw;
}
.big{
	font-size: 2vw;
}
.shade{
	text-shadow: 4px 6px 5px black;
}
.towel{
	width: 5vw;
	height: 1vw;
}